body {
  padding-top: 90px;
  padding-bottom: 20px; }

/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px; }

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal; }

/* Set width on the form input elements since they're 100% wide by default */
input, select, textarea {
  max-width: 280px; }

span.field-validation-error {
  color: red;
  font-weight: bold; }

.voffset {
  margin-top: 2px; }

.voffset1 {
  margin-top: 5px; }

.voffset2 {
  margin-top: 10px; }

.voffset3 {
  margin-top: 20px; }

.voffset4 {
  margin-top: 40px; }

/* Bootstrap Overrides */
.navbar-inverse {
  background-color: #ff4342;
  border-color: #ff4342; }

.navbar-brand {
  font-weight: 700; }

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
  color: #FFF; }

.navbar-inverse .navbar-nav > .open > a {
  background-color: rgba(205, 40, 39, 0.55); }
  .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: rgba(205, 40, 39, 0.55); }

.dropdown-menu {
  box-shadow: none;
  -webkit-box-shadow: none; }

body {
  font-size: 17px; }

.form-group {
  margin-bottom: 20px; }

select.form-control {
  padding: 0px 10px; }

.form-control {
  font-size: 14px;
  padding: 20px 14px;
  border-radius: 9px;
  height: 42px; }
  .form-control:focus {
    border-color: #2196f3;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none; }

.btn {
  border-radius: 9px; }

.popover {
  box-shadow: none; }

/* Page-level styles*/
.gigs {
  list-style: none; }
  .gigs > li {
    position: relative;
    margin-bottom: 30px; }
    .gigs > li .date {
      background: red;
      border-radius: 10px;
      color: white;
      text-align: center;
      width: 60px; }
    .gigs > li .month {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
      padding: 2px 6px; }
    .gigs > li .date .day {
      text-transform: uppercase;
      background: #f7f7f7;
      color: #333;
      font-size: 20px;
      font-weight: bold;
      padding: 2px 6px; }
  .gigs li > .details {
    position: absolute;
    top: 0;
    width: 300px;
    padding-left: 70px; }
    .gigs li > .details .artist {
      font-weight: bold;
      text-align: right;
      display: block; }
    .gigs li > .details .genre {
      font-size: 15px;
      text-align: right;
      margin-right: 10px;
      display: block; }
  .gigs > li .actions {
    font-size: 15px;
    display: none; }
  .gigs > li:hover .actions {
    display: block; }

.hide {
  display: none; }

.already-attending-error {
  padding: 20px 30px;
  width: 70%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: #ff4342; }
  .already-attending-error p {
    margin: 0;
    color: white;
    font-weight: bold;
    border-radius: 10px; }

.notifications {
  position: relative; }

.notification-list {
  list-style: none;
  padding-left: 0; }

.notification-list-item {
  padding: 10px;
  border-bottom: 1px solid #999999;
  margin-bottom: 5px; }
  .notification-list-item:last-child {
    border-bottom: none; }

.notifications .badge {
  position: absolute;
  left: 25px;
  bottom: 25px;
  background-color: #a80a0a; }

.popover-content {
  padding: 0; }

.bold {
  font-weight: bold; }
